<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="body-layout">
    <%= render "layouts/sidebar" %>

    <main class="main-content-layout">
      <%= render "layouts/flash_container" %>

      <div class="main-container-padding">
        <%= yield %>
      </div>
    </main>
  </body>
</html>