<%= render "shared/transaction_card", transaction: transaction do %>
  <%= link_to edit_audit_correction_path(transaction, format: :turbo_stream), 
      data: { turbo_prefetch: false }, 
      class: "btn-correction-outline" do %>
    <span>✏️</span> Corregir Registro
  <% end %>
<% end %>