<%# 1. Actualizamos la fila específica en la tabla %>
<%= turbo_stream.replace dom_id(@transaction) do %>
  <%= render partial: "transaction", locals: { transaction: @transaction } %>
<% end %>

<%# 2. Limpiamos el modal (igual que en el show) %>
<%= turbo_stream.update "modal-container", "" %>

<%# 3. Alerta evanescente %>
<%= turbo_stream.prepend "flash-messages" do %>
  <div class="flash-notice">Sincronizado con éxito y enviado a Kafka</div>
<% end %>