<% current_message = local_assigns[:message] || flash[:notice] || flash[:alert] %>

<% if current_message.present? %>
  <div class="toast-notification" data-controller="flash">
    <div class="toast-content">
      <span class="toast-icon">✅</span>
      <span class="toast-message">
        <%= current_message %>
      </span>
    </div>
  </div>
<% end %>
