<div class="skeleton-transaction-card">
  <div class="skeleton-card-header">
    <div class="skeleton-line skeleton-id"></div>
    <div class="skeleton-line skeleton-amount"></div>
  </div>
  <div class="skeleton-card-body">
    <div class="skeleton-line skeleton-details"></div>
    <div class="skeleton-line skeleton-date"></div>
  </div>
  <div class="skeleton-card-footer">
    <div class="skeleton-line skeleton-form"></div>
  </div>
</div>
