/* app/assets/stylesheets/layout.css */

/* 1. Estructura general */
.body-layout {
  margin: 0;
  background-color: #f8fafc;
  font-family: system-ui, -apple-system, sans-serif;
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
}

/* 2. Contenedor principal (Main) */
.main-content-layout {
  margin-left: 260px; /* Ancho del sidebar */
  width: calc(100% - 260px);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

/* 3. El padding del contenido */
.main-container-padding {
  padding: 40px;
  box-sizing: border-box;
}